/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 4rem;
}

/******************************************
/* LAYOUT
/*******************************************/

main {
  height: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div {
  width: 50%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

main {
  background-image: url('assets/sun.jpg');
  background-size: cover;
}